_cjs
_esm
_types
*.local
.DS_Store
.attest
.eslintcache
bench
cache
coverage
node_modules
tsconfig*.tsbuildinfo
.idea

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# tests
generated.ts

# docs
site/dist
.vercel

generated-chain-data.ts
